<%= form_for(@location, html: { class: "form-horizontal" }) do |f| %>
  <div class="row">
    <div class="col-md-12">
      <%= label_tag :search, "Search by Address or Name" %>
      <%= text_field_tag :location_search, nil, class: "search-query", type: "search" %>
    </div>
  </div>
  <div class="row" style="padding: 50px 0;">
    <div class="col-md-6">
      <div id="chart1" style="height: 300px; width: 500px; position: relative;" class="jqplot-target"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      Yelp:
      <span id="yelpOverallRating"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 pull-right">
      <strong id="name" class="section_heading_title"></strong>
      <p class="copy">
        <span id="fulladdress"></span><br/>
        Ph.: <span id="phone"></span>
      </p>
      <%= debug(@result) %>
    </div>
    <div class="col-md-7">
      <% if @location.errors.any? %>
        <div class="notice">
          <h3>Errors</h2>
          <ul>
          <% @location.errors.full_messages.each do |msg| %>
            <li class="error"><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= render partial: "googlemap" %>
    </div>
  </div>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :location_name %>
  <%= f.hidden_field :phone_number %>
  <%= f.hidden_field :district %>
  <%= f.hidden_field :postcode %>
  <%= f.hidden_field :city %>
  <%= f.hidden_field :country %>
  <%= f.text_field :lat %>
  <%= f.text_field :lng %>
<% end %>

<% content_for :document_ready do %>
  <script type="text/javascript">


  function plotGraph(line1, avg) {
    var plot1 = $.jqplot('chart1', [line1], {
      title:'Google Places - Overall Rating: ' + avg + '/5',
      axes: {
        yaxis: {
          min:0, 
          max:6
        },        
        xaxis: {
          renderer:$.jqplot.DateAxisRenderer,
          tickOptions:{formatString:'%Y, %b-%#d'}
        }
      },
      highlighter: {
        show: true,
        sizeAdjust: 7.5
      },
      series:[
        {
          lineWidth:4, 
          markerOptions:
          {
              style:'filledCircle'
          }
        }
      ]
    });    
    plot1.replot();
  }

  </script>
<% end %>

