<%= form_for(@location, html: { class: "form-horizontal" }) do |f| %>
  <div class="row">
    <div class="col-md-12">
      <%= label_tag :search, "Enter a restaurant or location name" %>
      <%= text_field_tag :location_search, nil, class: "search-query", type: "search" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 ta-center">
      <div id="chartGoogle" style="height: 300px; width: 100%; position: relative;" class="jqplot-target"></div>
      <div id="no-reviews">
        <h1 style="color: #666666;">Sorry! No trends were found for this location.</h1>
        <h2 style="color: #999999;">Most likely this is due 0 reviews <br/>on Google Places and Yelp.</h2>
        <img src="<%= image_path("mascot.jpg") %>" />
      </div>
    </div>
    <div class="col-md-12 ta-center" style="padding-top: 50px;">
      <img id="loading-bar" src="<%= image_path("loader.gif") %>" />
    </div>
    <div class="col-md-12 ta-center">
      <div id="chartYelp" style="height: 300px; width: 100%; position: relative;" class="jqplot-target"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <% if @location.errors.any? %>
        <div class="notice">
          <h3>Errors</h2>
          <ul>
          <% @location.errors.full_messages.each do |msg| %>
            <li class="error"><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= render partial: "googlemap" %>
    </div>
    <div class="col-md-5">
      <div id="closed">This location has closed.</div>
      <div id="address">
        <strong id="name" class="section_heading_title"></strong>
        <p class="copy">
          <span id="fulladdress"></span><br/>
          <span id="phone"></span>
          <span id="yelpOverallRating" style="display:none;"></span>
        </p>
      </div>
    </div>
  </div>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :location_name %>
  <%= f.hidden_field :phone_number %>
  <%= f.hidden_field :district %>
  <%= f.hidden_field :postcode %>
  <%= f.hidden_field :city %>
  <%= f.hidden_field :country %>
  <%= f.hidden_field :lat %>
  <%= f.hidden_field :lng %>
<% end %>


<% content_for :document_ready do %>
      
  $("#chartGoogle").css({"position":"absolute","top":"-20000px"});
  $("#chartYelp").css({"position":"absolute","top":"-20000px"});
  $("#googlemap").css({"position":"absolute","top":"-20000px"});

<% end %>

